/* @font-face {
  font-family: 'MaShanZheng';
  src: url('../font/MaShanZheng-Regular.ttf') format("truetype");
  font-display: swap;
  font-weight: lighter;
} */
@font-face {
  font-family: 'MaShanZheng';
  src: url('../font/MaShanZheng-Regular.ttf') format("truetype");
  font-display: swap;
  font-weight: lighter;
}

div#menus {
  font-family: 'MaShanZheng';
}
h1#site-title {
  font-family: 'MaShanZheng';
  font-size: 4em !important;
}
a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
  font-family: 'MaShanZheng';
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 4em;
  /* 可以定义图标大小 */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
